<form #formService="ngForm" (ngSubmit)="onSubmit()" *ngIf="objService">
    <h5 class="mb-3">{{title}} servicio</h5>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="objService.nombre" required>
      <small class="form-text msg-error" *ngIf="nombre.invalid && nombre.touched">Nombre incorrecto</small>
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <select class="form-control" name="tipo" #tipo="ngModel" [(ngModel)]="objService.tipo" pattern="[1-9][0-9]*">
          <option value="0" disabled>Seleccione tipo de servicio</option>
          <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.nombre}}</option>
        </select>
        <small class="form-text msg-error" *ngIf="tipo.invalid && tipo.touched">Selecione un tipo</small>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <textarea class="form-control" rows="3" name="descripcion" #descripcion="ngModel" [(ngModel)]="objService.descripcion" required></textarea>
        <small class="form-text msg-error" *ngIf="descripcion.invalid && descripcion.touched">Nombre incorrecto</small>
      </div>
    <button type="submit" class="btn btn-outline-success" [disabled]="formService.invalid">Grabar</button>
    <button type="button" class="btn btn-outline-danger ml-2" *ngIf="type==='create'">Cancelar</button>
    <!-- <button type="submit" class="btn btn-primary"></button> -->
</form>
<div class="my-2">
  <app-notificacion *ngIf="showNotification" [msg]="msjNotificacion" [type]="typeNotificacion"></app-notificacion>
</div>
